.normal {
  align-items: center;
  display: flex;
  height: 40px;
  justify-content: center;
  background-color: grey;
  font-weight: bold;
  border-radius: 10px;
  border-color: black;
}

.success {
  align-items: center;
  display: flex;
  height: 40px;
  justify-content: center;
  background-color: rgba(65, 214, 65, 0.453);
  font-weight: bold;
  border-radius: 10px;
  border-color: black;
  color: white;

}

.danger {
  align-items: center;
  display: flex;
  height: 40px;
  justify-content: center;
  background-color: rgba(218, 25, 25, 0.748);
  font-weight: bold;
  border-radius: 10px;
  border-color: black;
  color: white;

}

.size{
  width: 100% ;
}

